body {
    font-family: Arial;
    text-align: center;
    padding: 30px;
    background-color: #f4f4f4;
  }
  
  input {
    margin: 5px;
    padding: 8px;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Fica atrás de todo o conteúdo */
    object-fit: cover;
    opacity: 0.5; /* opcional: deixa o conteúdo mais visível */
  }
  
  